{% extends "warehouse/base.html" %}

{% block title %}
    Produkt
{% endblock %}

{% block content %}
    <h1>{{ product.name }}</h1>
    <p>{{ product.description }}</p>

    <!-- Usunięcie produktu -->
    <div class="col-6 mx-auto">
        <!-- Przycisk usunięcia produktu -->
        <button type="button" class="btn btn-danger mt-3 col-12" data-bs-toggle="modal" data-bs-target="#deleteModal">
          Usuń produkt
        </button>

        <!-- Potwierdzenie usunięcia produktu -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Potwierdź usunięcie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Czy na pewno chcesz usunąć produkt? Ta operacja jest nieodwracalna.
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                  <form action="{% url "warehouse:product_delete" product.id %}" method="post">
                    <button type="submit" class="btn btn-danger">Usuń produkt</button>
                    {% csrf_token %}
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- Zakończenie usuwania produktu -->

    <h3>Lokalizacje produktu:</h3>
    {% for productlocation in product.locations.all %}
        <p>{{ productlocation.location }}: {{ productlocation.quantity }}</p>
    {% empty %}
        <p>Brak produktu na stanie.</p>
    {% endfor %}

{% endblock %}