{% extends "warehouse/base.html" %}
{% load static %}

{% block title %}
    Produkt
{% endblock %}


{% block content %}
    <h1>Szczegóły produktu</h1>

    <table class="table table-bordered warehouse_list_table mt-3" style="width: auto;">
        <tr>
            <th>Produkt</th>
            <td>{{ product.name }}</td>
        </tr>
        <tr>
            <th>SKU</th>
            <td>{{ product.sku }}</td>
        </tr>
        <tr>
            <th>Stan</th>
            <td>{{ product.total_quantity }}</td>
        </tr>
        <tr>
            <th>Waga [kg]</th>
            <td>{{ product.weight }}</td>
        </tr>
        <tr>
            <th>Aktywny</th>
            {% if product.is_active %}
                <td><span hidden>1</span><i class="fas fa-check-circle" style="color: #198754;"></i></td>
            {% else %}
                <td><span hidden>0</span><i class="fas fa-times-circle" style="color: #cf2038;"></i></td>
            {% endif %}
        </tr>
    </table>

    <h4>Opis</h4>
    {% if product.description %}
        <p>{{ product.description|linebreaks }}</p>
    {% else %}
        <p>Brak opisu.</p>
    {% endif %}
    <!-- Usunięcie produktu -->

    <!-- Przycisk usunięcia produktu -->
    <button type="button" class="btn btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#deleteModal">
      Usuń produkt
    </button>
    <a type="button" class="btn btn-warning mt-3" href="{% url "warehouse:product_edit" product.id %}">
      Edytuj produkt
    </a>

    <!-- Potwierdzenie usunięcia produktu -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Potwierdź usunięcie</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Czy na pewno chcesz usunąć produkt? Ta operacja jest nieodwracalna.
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
              <form action="{% url "warehouse:product_delete" product.id %}" method="post">
                <button type="submit" class="btn btn-danger">Usuń produkt</button>
                {% csrf_token %}
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Zakończenie usuwania produktu -->

    <h3 class="mt-4">Lokalizacje produktu:</h3>

    <div class="table-responsive mt-2 mb-4">
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Magazyn</th>
                <th>Lokalizacja</th>
                <th>Numer Partii</th>
                <th>Ilość</th>
            </tr>
        </thead>
        <tbody>
            {% for productlocation in product.locations.all %}
                <tr>
                    <td><a class="product-link" href="{{ productlocation.location.parent_shelf.warehouse.get_absolute_url }}">{{ productlocation.location.parent_shelf.warehouse }}</a></td>
                    <td><a class="product-link" href="{{productlocation.location.get_absolute_url}}">{{ productlocation.location }}</a></td>
                    <td>{{ productlocation.lot_number }}</td>
                    <td>{{ productlocation.quantity }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#example').DataTable({
                sort: true
            });
        } );
    </script>

{% endblock %}