{% extends "warehouse/base.html" %}
{% load widget_tweaks %}
{% load crispy_forms_filters %}

{% block title %}Edycja produktu{% endblock %}

{% block content %}

    <h1>Edytuj produkt</h1>
    <form action="." method="post">
        {% csrf_token %}
        {{ edit_form.name|as_crispy_field }}
        {{ edit_form.description|as_crispy_field }}
        {{ edit_form.weight|as_crispy_field }}
        <div class="form-check my-2">
            {{ edit_form.is_active|add_class:"form-check-input" }}
            <label class="form-check-label mt-1 mx-2"> Aktywny </label>
        </div>
        <div class="container">
            <p class="text-muted container-fluid help-confirm">
                Nieaktywny produkt nie będzie wyświetlany przy tworzeniu dokumentów.
            </p>
        </div>
        <input type="submit" value="Dodaj" class="btn btn-success my-3">
    </form>
{% endblock %}