{% extends "warehouse/base.html" %}
{% load tags %}
{% load static %}
{% load crispy_forms_filters %}

{% block title %} Regał {{ shelf.name }} {% endblock %}

{% block content %}
    <h1 class="mt-2">Regał {{ shelf.name }}</h1>
    <p class="mt-3">Magazyn: <a href="{{ shelf.warehouse.get_absolute_url }}" class="warehouse_link">{{ shelf.warehouse }}</a></p>

    {% if request.user|has_group:"admin" %}
     <!-- Edycja regału -->
     <div class="btn">
         <!-- Przycisk edycji regału -->
         <button type="button" class="btn btn-warning mt-3 input-block-level col-12" data-bs-toggle="modal" data-bs-target="#editModal">
             Edytuj regał
         </button>

         <!-- Modal edycji magazynu -->
         <div class="modal fade edit-modal" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
           <div class="modal-dialog">
             <div class="modal-content">
               <div class="modal-header">
                 <h5 class="modal-title" id="editModalLabel">Edytuj regał</h5>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body">
                   <form action="" method="post" class="crispy-form-margin">
                       {% csrf_token %}
                       <p></p>
                       <p class="mt-1">{{ edit_form.shelf_number|as_crispy_field}}</p>
                       <p class="mt-1">{{ edit_form.columns|as_crispy_field}}</p>
                       <p class="mt-1">{{ edit_form.levels|as_crispy_field}}</p>
                       <p class="mt-1">{{ edit_form.zone|as_crispy_field}}</p>
                       <div class="my-auto mx-auto row">
                           <input type="submit" value="Edytuj" class="btn btn-success mx-auto col-5">
                           <button type="button" class="btn btn-danger mx-auto col-5 offset-2" data-bs-dismiss="modal">Anuluj</button>
                       </div>
                   </form>
               </div>

             </div>
           </div>
         </div>
     </div>
    {% endif %}

    <h3 class="my-3">Wizualizacja regału</h3>
    <div class="table-responsive">
        <table>
        {% for row in locations_table %}
            <tr>
            {% for cell in row %}
                <td>
                    <a href="{% url "warehouse:location_detail" cell.id %}">
                        <input type="submit" class="btn-square-md btn btn-secondary" value="{{ cell }}">
                    </a>
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
        </table>
    </div>

    <h3 class="my-3">Produkty w regale</h3>
{% endblock %}