{% extends "warehouse/base.html" %}
{% load widget_tweaks %}
{% load tags %}

{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}{{ warehouse.name }}{% endblock %}

{% block content %}
    <!-- Informacje o magazynie -->
    <h1>{{ warehouse.name }}</h1>
    <div class="row">
        <div class="col-lg-4">
            <table class="table table-bordered warehouse_list_table mt-3">
                <tr>
                    <th>Symbol</th>
                    <td>{{ warehouse.symbol }}</td>
                </tr>
                <tr>
                    <th>Miasto</th>
                    <td>{{ warehouse.city }}</td>
                </tr>
                <tr>
                    <th>Adres</th>
                    <td>{{ warehouse.address }}</td>
                </tr>
                <tr>
                <th>Aktywny</th>
                    {% if warehouse.is_active %}
                        <td><i class="fas fa-check-circle" style="color: #198754;"></i></td>
                    {% else %}
                        <td><i class="fas fa-times-circle" style="color: #cf2038;"></i></td>
                    {% endif %}
                </tr>
            </table>

            <h4 class="mt-4">Opis</h4>
            {% if warehouse.description %}
                <p>{{ warehouse.description }}</p>
            {% else %}
                <p>Brak opisu.</p>
            {% endif %}

            <a href="{% url "warehouse:warehouse_products" warehouse.slug %}" class="btn btn-success mt-2 col-12">Produkty w magazynie</a>
            <a href="{% url "warehouse:warehouse_documents" warehouse.slug %}" class="btn btn-success mt-2 col-12">Dokumenty powiązane z magazynem</a>
            <a href="{% url "warehouse:warehouse_history" warehouse.slug %}" class="btn btn-success mt-2 col-12">Historia ruchu produktów</a>


            {% if request.user|has_group:"admin" %}
            <!-- Zarządzanie magazynem -->
            <div class="row mt-4">
                <h4>Zarządzaj magazynem</h4>

                <!-- Edycja magazynu -->
                <div class="col-6  mx-auto">
                    <!-- Przycisk edycji magazynu -->
                    <button type="button" class="btn btn-warning mt-3 input-block-level col-12" data-bs-toggle="modal" data-bs-target="#editModal">
                        Edytuj magazyn
                    </button>

                    <!-- Modal edycji magazynu -->
                    <div class="modal fade edit-modal" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Edytuj magazyn</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <form action="" method="post" class="crispy-form-margin">
                                  {% csrf_token %}
                                  <p class="mt-1">{{ edit_form.name|as_crispy_field}}</p>
                                  <p class="mt-1">{{ edit_form.symbol|as_crispy_field}}</p>
                                  <p class="mt-1">{{ edit_form.city|as_crispy_field}}</p>
                                  <p class="mt-1">{{ edit_form.address|as_crispy_field}}</p>
                                  <p class="mt-1">{{ edit_form.description|as_crispy_field}}</p>
                                  <div class="form-check mt-2 mb-4">
                                      {{ edit_form.is_active|add_class:"form-check-input" }}
                                      <label class="form-check-label mt-1 mx-2"> Aktywny </label>
                                  </div>
                                  <div class="my-auto mx-auto row">
                                      <input type="submit" value="Edytuj" class="btn btn-success mx-auto col-5" name="edit_warehouse_button">
                                      <button type="button" class="btn btn-danger mx-auto col-5 offset-2" data-bs-dismiss="modal">Anuluj</button>
                                  </div>

                              </form>
                          </div>

                        </div>
                      </div>
                    </div>
                </div>

                <!-- Usunięcie magazynu -->
                <div class="col-6 mx-auto">
                    {% if warehouse.is_deletable %}
                        <!-- Przycisk usunięcia magazynu -->
                        <button type="button" class="btn btn-danger mt-3 col-12" data-bs-toggle="modal" data-bs-target="#deleteModal">
                          Usuń magazyn
                        </button>
                    {% else %}
                        <button disabled type="button" class="btn btn-danger mt-3 col-12">
                          Usuń magazyn
                        </button>
                    {% endif %}

                    <!-- Potwierdzenie usunięcia magazynu -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Potwierdź usunięcie</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            Czy na pewno chcesz usunąć magazyn? Ta operacja jest nieodwracalna.
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                              <form action="{% url "warehouse:warehouse_delete" warehouse.id %}" method="post">
                                <button type="submit" class="btn btn-danger">Usuń magazyn</button>
                                {% csrf_token %}
                            </form>

                          </div>
                        </div>
                      </div>
                    </div>
                </div> 
                <!-- Zakończenie usuwania magazynu -->
            </div>
            {% endif %}
        </div>

        <!-- Zarządzanie regałami -->
        <div class="col-lg-7 offset-lg-1 mt-4 mt-lg-0">
            <h4>Regały</h4>

            <h5 class="mt-4">Strefa przyjmowania</h5>
            <!-- Wyświetlanie regałów -->
            <div id="accordion">
                {% for shelf in shelves_receiving %}
                    <div class="card" style="z-index: 0;">
                        <div class="card-header">
                          <a class="btn" data-bs-toggle="collapse" href="#collapse-{{ shelf.name }}">
                              {{ shelf.name }}
                              {% if shelf.is_active %}
                                <i class="fas fa-check-circle" style="color: #198754;"></i>
                              {% else %}
                                <i class="fas fa-times-circle" style="color: #cf2038;"></i>
                              {% endif %}
                          </a>
                        </div>
                        <div id="collapse-{{ shelf.name }}" class="collapse hide" data-bs-parent="#accordion">
                          <div class="card-body">
                              <!-- Informacje o regale -->
                              <div class="row">
                                  <p class="col-6">Kolumny: {{ shelf.columns }}</p>
                                  <p class="col-6">Poziomy: {{ shelf.levels }}</p>
                              </div>
                              <!-- Przyciski -->
                              <div class="row">
                                  <div class="col-6">
                                      <a href="{{ shelf.get_absolute_url }}">
                                          <button class="btn btn-success col-12">Szczegóły</button>
                                      </a>
                                  </div>

                                  <!-- Usuwanie regału -->
                                  {% if request.user|has_group:"admin" %}
                                  <div class="col-6">
                                    {% if shelf.is_deletable %}
                                      <form action="{% url "warehouse:shelf_delete" shelf.id %}" method="post">
                                        <input type="submit" value="Usuń regał" onclick="return confirm('Czy na pewno chcesz usunąć regał?')" class="btn btn-danger col-12">
                                        {% csrf_token %}
                                      </form>
                                    {% else %}
                                        <button disabled class="btn btn-danger col-12">Usuń regał</button>
                                    {% endif %}
                                  </div>
                                  {% endif %}

                              </div>
                          </div>
                        </div>
                      </div>
                {% endfor %}
            </div>

        <h5 class="mt-4">Strefa magazynowania</h5>
        <div id="accordion2">
                {% for shelf in shelves_storage %}
                    <div class="card" style="z-index: 0;">
                        <div class="card-header">
                          <a class="btn" data-bs-toggle="collapse" href="#collapse2-{{ shelf.name }}">
                            {{ shelf.name }}
                            {% if shelf.is_active %}
                              <i class="fas fa-check-circle" style="color: #198754;"></i>
                            {% else %}
                              <i class="fas fa-times-circle" style="color: #cf2038;"></i>
                            {% endif %}
                          </a>
                        </div>
                        <div id="collapse2-{{ shelf.name }}" class="collapse hide" data-bs-parent="#accordion2">
                          <div class="card-body">
                              <!-- Informacje o regale -->
                              <div class="row">
                                  <p class="col-6">Kolumny: {{ shelf.columns }}</p>
                                  <p class="col-6">Poziomy: {{ shelf.levels }}</p>
                              </div>
                              <!-- Przyciski -->
                              <div class="row">
                                  <div class="col-6">
                                      <a href="{{ shelf.get_absolute_url }}">
                                          <button class="btn btn-success col-12">Szczegóły</button>
                                      </a>
                                  </div>

                                  <!-- Usuwanie regału -->
                                  {% if request.user|has_group:"admin" %}
                                  <div class="col-6">
                                    {% if shelf.is_deletable %}
                                      <form action="{% url "warehouse:shelf_delete" shelf.id %}" method="post">
                                        <input type="submit" value="Usuń regał" onclick="return confirm('Czy na pewno chcesz usunąć regał?')" class="btn btn-danger col-12">
                                        {% csrf_token %}
                                      </form>
                                    {% else %}
                                        <button disabled class="btn btn-danger col-12">Usuń regał</button>
                                    {% endif %}
                                  </div>
                                  {% endif %}

                              </div>
                          </div>
                        </div>
                      </div>
                {% endfor %}
            </div>

        <h5 class="mt-4">Strefa wysyłkowa</h5>
        <div id="accordion3" class="mb-4">
                {% for shelf in shelves_shipping %}
                    <div class="card" style="z-index: 0;">
                        <div class="card-header">
                          <a class="btn" data-bs-toggle="collapse" href="#collapse3-{{ shelf.name }}">
                              {{ shelf.name }}
                              {% if shelf.is_active %}
                                <i class="fas fa-check-circle" style="color: #198754;"></i>
                              {% else %}
                                <i class="fas fa-times-circle" style="color: #cf2038;"></i>
                              {% endif %}
                          </a>
                        </div>
                        <div id="collapse3-{{ shelf.name }}" class="collapse hide" data-bs-parent="#accordion3">
                          <div class="card-body">
                              <!-- Informacje o regale -->
                              <div class="row">
                                  <p class="col-6">Kolumny: {{ shelf.columns }}</p>
                                  <p class="col-6">Poziomy: {{ shelf.levels }}</p>
                              </div>
                              <!-- Przyciski -->
                              <div class="row">
                                  <div class="col-6">
                                      <a href="{{ shelf.get_absolute_url }}">
                                          <button class="btn btn-success col-12">Szczegóły</button>
                                      </a>
                                  </div>

                                  <!-- Usuwanie regału -->
                                  {% if request.user|has_group:"admin" %}
                                  <div class="col-6">
                                    {% if shelf.is_deletable %}
                                      <form action="{% url "warehouse:shelf_delete" shelf.id %}" method="post">
                                        <input type="submit" value="Usuń regał" onclick="return confirm('Czy na pewno chcesz usunąć regał?')" class="btn btn-danger col-12">
                                        {% csrf_token %}
                                      </form>
                                    {% else %}
                                        <button disabled class="btn btn-danger col-12">Usuń regał</button>
                                    {% endif %}
                                  </div>
                                  {% endif %}

                              </div>
                          </div>
                        </div>
                      </div>
                {% endfor %}
            </div>


            <!-- Dodawanie regałów -->
            {% if request.user|has_group:"admin" %}
            <form action="." method="post" class="form-group border border-secondary rounded p-4 mx-auto my-3">
                 <p>Dodaj regał</p>
                {{ form.shelf_number|as_crispy_field }}
                {{ form.columns|as_crispy_field }}
                {{ form.levels|as_crispy_field }}
                {{ form.zone|as_crispy_field }}
                <div class="form-check mt-2 mb-4">
                    {{ form.is_active|add_class:"form-check-input" }}
                    <label class="form-check-label mt-1 mx-2"> Aktywny </label>
                </div>
                <input type="submit" value="Dodaj" class="btn btn-success mx-auto mt-3" name="create_shelf_button">
                {% csrf_token %}
            </form>
            {% endif %}
        </div>


    </div>


{% endblock %}