{% extends "warehouse/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_filters %}

{% block title %}
    Nowe przesunięcie międzymagazynowe
{% endblock %}

{% block content %}
    <h1>Nowe przesunięcie międzymagazynowe</h1>

    <div class="card bg-light text-black my-3" style="position: relative; z-index: -1;">
        <div class="card-body">Numer dokumentu: {{ document_number }}</div>
    </div>

    <form method="post" id="documentForm" warehouse-url="{% url "documents:ajax_load_warehouse_products" %}"
          product-url="{% url "documents:ajax_load_product_locations" %}" location-target-url="{% url "documents:ajax_load_target_locations" %}">
        {% csrf_token %}

        <label>Magazyn źródłowy</label>
        {{ form.warehouse|add_class:"form-control" }}

        <label class="mt-2">Magazyn docelowy</label>
        {{ form.target_warehouse|add_class:"form-control" }}

        <div class="table-responsive">
            <table class="table mt-3 gin-table">
                <thead>
                    <tr>
                        <th class="product-table-grn">Produkt</th>
                        <th class="product-table-grn">Skąd</th>
                        <th class="product-table-grn">Stan</th>
                        <th class="product-table-grn">Dokąd</th>
                        <th class="product-table-grn">Ilość</th>
                        <th class="product-table-grn">Cena</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="form_set">
                    {% for product_form in formset.forms %}
                        <tr id="formTemplate">
                            <td>
                                {% if product_form.instance.pk %}{{ product_form.DELETE }}{% endif %}
                                {{ product_form.product|add_class:"product_search form-control product-select select2-field"}}
                            </td>
                            <td>{{ product_form.location|add_class:"form-control location-select" }}</td>
                            <td class="quantity_information "><span style="line-height: 38px;">-</span></td>
                            <td>{{ product_form.location_target|add_class:"form-control location-target-select" }}</td>
                            <td>{{ product_form.quantity|add_class:"form-control quantity-input" }}</td>
                            <td>
                                <div class="input-group mb-3 price-transfer">
                                  {{ product_form.price|add_class:"form-control" }}
                                  <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">zł</span>
                                  </div>
                                </div>
                            </td>
                            <td class="lot-number">{{ product_form.lot_number.as_hidden}}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {{ formset.management_form }}

        <div class="form-check my-2">
            {{ form.confirmed|add_class:"form-check-input" }}
            <label class="form-check-label mt-1 mx-2"> Zatwierdź dokument </label>
        </div>
        <div class="container">
            <p class="text-muted container-fluid help-confirm">
                Niezatwierdzony dokument będzie wprowadzony do systemu jako kopia robocza. Po zatwierdzeniu dokumentu nie będzie możliwości edycji.
            </p>
        </div>

        <input type="submit" class="btn btn-success mt-3" value="Zapisz" id="confirm">
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>

    <!-- Skrypt do obsługi formset -->
    <script type="text/javascript">
        $(function (){
            $('#documentForm tbody tr').formset({
                prefix: '{{ formset.prefix }}'
            });
        });
    </script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(document).ready(function (){
            $('#documentForm').submit(function (){
                let inputs = $("#documentForm .form-control");

                for(let i=0; i<inputs.length; i++) {
                    if ($(inputs[i]).val() === '') {
                        swal({
                            title: 'Uzupełnij puste pola.',
                            text: 'Jeżeli nie potrzebujesz formularza danego produktu, usuń go.',
                            icon: 'error'
                        });
                        return false;
                    }
                }
            });
        });
    </script>

    <script src="{% static 'js/reset_new_choices_transfer.js' %}"></script>
    <script src="{% static 'js/update_choices_transfer.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>

    <script>
        $(document).ready(function (){
            $(".product_search").select2({
                placeholder: 'Wybierz produkt'
            });
            $(".location-target-select").select2({
                placeholder: 'Wybierz lokalizację'
            });
        });
    </script>

    <script>

        $('body').on('submit', '#documentForm', function () {
            let quantityInputs = $('.quantity-input');
            let locationInputs = $('.location-select');
            for (let i = 0; i < quantityInputs.length; i++) {
                let input = parseInt($(quantityInputs[i]).val());
                let limit = parseInt($("option:selected", locationInputs[i]).attr("quantity"));
                if (input > limit) {
                    let form_index = i + 1;
                    swal({
                        title: 'Przekroczenie stanu produktu.',
                        text: 'W formularzu dodawania produktu nr ' + form_index + ' maksymalna ilość to ' + limit,
                        icon: 'error'
                    });
                    return false;
                }
            }

            let warehouse1_id = $('#id_warehouse').val();
            let warehouse2_id = $('#id_target_warehouse').val();

            if(warehouse1_id === warehouse2_id) {
                swal({
                        title: 'Niepoprawny magazyn',
                        text: 'Magazyn docelowy jest taki sam jak magazyn źródłowy',
                        icon: 'error'
                    });
                return false;
            }

        })
    </script>

{% endblock %}