{% extends "warehouse/base.html" %}
{% load tags %}
{% load widget_tweaks %}
{% load crispy_forms_filters %}



{% block title %}Dodaj użytkownika{% endblock %}

{% block content %}
    {% if request.user|has_group:"admin" %}
        <h1>Nowy użytkownik</h1>

        <form action="" method="post" class="register-form form-group border border-secondary rounded p-4 mx-auto" style="max-width: 600px">
            {% csrf_token %}
            {{ user_form.username|as_crispy_field }}
            {{ user_form.first_name|as_crispy_field }}
            {{ user_form.last_name|as_crispy_field }}
            {{ user_form.email|as_crispy_field }}
            {{ user_form.group|as_crispy_field }}
            <input type="submit" value="Dodaj użytkownika" class="btn btn-success mt-2">
        </form>
    {% else %}
        <h1>Brak uprawnień</h1>
        <p>Nie posiadasz uprawnień administratora, aby wyświetlić tę stronę.</p>
    {% endif %}
{% endblock %}
