{% extends "warehouse/base.html" %}
{% load widget_tweaks %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}Przyjęcie zewnętrzne{% endblock %}

{% block content %}

    <h1>Nowe przyjęcie zewnętrzne</h1>

    <div class="card bg-light text-black my-3">
        <div class="card-body">Numer dokumentu: {{ document_number }}</div>
    </div>
    <form method="post" action="" id="documentForm" data-url="{% url "documents:ajax_load_shelves" %}" location-url="{% url "documents:ajax_load_locations" %}">
        {% csrf_token %}
        <label>Kontrahent</label>
        {{ form.contractor|add_class:"form-control" }}

        <div class="table-responsive">
            <table class="table mt-3 grn-table">
                <thead>
                    <tr>
                        <th class="product-table-grn">Produkt</th>
                        <th class="count-table-grn">Ilość</th>
                        <th class="price-table-grn">Cena jednostkowa</th>
                        <th class="warehouse-table-grn">Magazyn</th>
                        <th class="shelf-table-grn">Regał</th>
                        <th class="location-table-grn">Lokalizacja</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for product_form in formset.forms %}
                        <tr>
                            <td>{{ product_form.product|add_class:"form-control" }}</td>
                            <td>{{ product_form.quantity|add_class:"form-control" }}</td>
                            <td>{{ product_form.price|add_class:"form-control" }}</td>
                            <td>{{ product_form.warehouse|add_class:"form-control" }}</td>
                            <td>{{ product_form.shelf|add_class:"form-control" }}</td>
                            <td>{{ product_form.location|add_class:"form-control" }}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {{ formset.management_form }}
        <input type="submit" class="btn btn-success mt-3" value="Zatwierdź dokument">
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>

    <!-- Skrypt do obsługi formset -->
    <script type="text/javascript">
        $(function (){
            $('#documentForm tbody tr').formset();
        });
    </script>

    <!-- Skrypt do aktualizacji listy -->
    <script>
        document.body.addEventListener('change', function (event) {
            const re_warehouse = new RegExp("^(id_form-[0-9]*-warehouse)$");
            const re_shelf = new RegExp("^(id_form-[0-9]*-shelf)$");
            let id = (event.target.id).split('-')[1];

            const id_warehouse = "#id_form-" + id + "-warehouse";
            const id_shelf = "#id_form-" + id + "-shelf";
            const id_location = "#id_form-" + id + "-location";

            if(re_warehouse.test(event.target.id)) {
                var url = $("#documentForm").attr("data-url");
                var warehouseId = $(id_warehouse).val();

                $(id_location).prop('selectedIndex', 0);
                $(id_location).html('<option value="">---------</option>')

                $.ajax({
                    url: url,
                    data: {
                        'warehouse': warehouseId
                    },
                    success: function (data) {
                        $(id_shelf).html(data)
                    }
                });

                if(warehouseId === ''){
                    $(id_shelf).prop('selectedIndex', 0);
                    $(id_shelf).html('<option value="">---------</option>')
                }
            }

            if(re_shelf.test(event.target.id)) {
                url = $("#documentForm").attr("location-url");
                var shelfId = $(id_shelf).val();

                $.ajax({
                    url: url,
                    data: {
                        'shelf': shelfId
                    },
                    success: function (data) {
                        $(id_location).html(data)
                    }
                });

                if(shelfId === ''){
                    $(id_location).prop('selectedIndex', 0);
                }
            }

        });
    </script>


{% endblock %}