{% extends "warehouse/base.html" %}
{% load widget_tweaks %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}Przyjęcie zewnętrzne{% endblock %}

{% block content %}

    <h1>Nowe przyjęcie zewnętrzne</h1>

    <div class="card bg-light text-black my-3" style="position: relative; z-index: -1;">
        <div class="card-body">Numer dokumentu: {{ document_number }}</div>
    </div>
    <form method="post" action="" id="documentForm" data-url="{% url "documents:ajax_load_shelves" %}" location-url="{% url "documents:ajax_load_locations" %}">
        {% csrf_token %}
        <label>Kontrahent</label>
        {{ form.contractor|add_class:"form-control" }}

        <label>Magazyn</label>
        {{ form.warehouse|add_class:"form-control" }}

        <div class="table-responsive">
            <table class="table mt-3 grn-table">
                <thead>
                    <tr>
                        <th class="product-table-grn">Produkt</th>
                        <th class="count-table-grn">Ilość</th>
                        <th class="price-table-grn">Cena jednostkowa</th>
                        <th class="shelf-table-grn">Regał</th>
                        <th class="location-table-grn">Lokalizacja</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="form_set">
                    {% for product_form in formset.forms %}
                        <tr id="formTemplate">
                            <td>
                                {% if product_form.instance.pk %}{{ product_form.DELETE }}{% endif %}
                                {{ product_form.product|add_class:"product_search form-control"}}
                            </td>
                            <td>{{ product_form.quantity|add_class:"form-control" }}</td>
                            <td>
                                <div class="input-group mb-3">
                                  {{ product_form.price|add_class:"form-control" }}
                                  <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">zł</span>
                                  </div>
                                </div>
                            </td>
                            <td>{{ product_form.shelf|add_class:"form-control shelf-select" }}</td>
                            <td>{{ product_form.location|add_class:"form-control location-select" }}</td>
                            <td></td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {{ formset.management_form }}

        <div class="form-check my-2">
            {{ form.confirmed|add_class:"form-check-input" }}
            <label class="form-check-label mt-1 mx-2"> Zatwierdź dokument </label>
        </div>
        <div class="container">
            <p class="text-muted container-fluid help-confirm">
                Niezatwierdzony dokument będzie wprowadzony do systemu jako kopia robocza. Po zatwierdzeniu dokumentu nie będzie możliwości edycji.
            </p>
        </div>


        <input type="submit" class="btn btn-success mt-3" value="Zapisz" id="confirm">
    </form>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>

    <!-- Skrypt do obsługi formset -->
    <script type="text/javascript">
        $(function (){
            $('#documentForm tbody tr').formset({
                prefix: '{{ formset.prefix }}'
            });
        });
    </script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(document).ready(function (){
            $('#documentForm').submit(function (){
                let inputs = $("#documentForm .form-control");

                for(let i=0; i<inputs.length; i++) {
                    if ($(inputs[i]).val() === '') {
                        swal({
                            title: 'Uzupełnij puste pola.',
                            text: 'Jeżeli nie potrzebujesz formularza danego produktu, usuń go.',
                            icon: 'error'
                        });
                        return false;
                    }
                }
            });
        });
    </script>

    <script src="{% static 'js/reset_new_form_choices.js' %}"></script>
    <script src="{% static 'js/update_choices.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js" integrity="sha512-5+FrEmSijjxRArJWeLcCIEgoQYAgU0gSa9MgNMN+tVSS+MPZsEk9a7OkPZr7AzjNJng1Kl+tXOQVtJcsU+Ax0w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $(document).ready(function (){
            $(".product_search").select2({placeholder: 'Wybierz produkt'});
        });
    </script>

{% endblock %}