{% extends "warehouse/base.html" %}
{% load static %}

{% block title %} Regał {{ shelf.name }} {% endblock %}

{% block content %}
    <div class="table-responsive">
        <table>
        {% for row in locations_table %}
            <tr>
            {% for cell in row %}
                <td>
                    <button type="button" class="btn btn-success btn-square-md">
                        {{ cell }}
                    </button>
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}