{% extends "warehouse/base.html" %}

{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}{{ warehouse.name }}{% endblock %}

{% block content %}
    <!-- Informacje o magazynie -->
    <h1>{{ warehouse.name }}</h1>
    <div class="row">
        <div class="col-lg-4">
            <table class="table table-bordered warehouse_list_table mt-3">
                <tr>
                    <th>Symbol</th>
                    <td>{{ warehouse.symbol }}</td>
                </tr>
                <tr>
                    <th>Miasto</th>
                    <td>{{ warehouse.city }}</td>
                </tr>
                <tr>
                    <th>Adres</th>
                    <td>{{ warehouse.address }}</td>
                </tr>
            </table>

            <h4 class="mt-4">Opis</h4>
            {% if warehouse.description %}
                <p>{{ warehouse.description }}</p>
            {% else %}
                <p>Brak opisu.</p>
            {% endif %}

            <!-- Zarządzanie magazynem -->
            <div class="row mt-4">
                <h4>Zarządzaj magazynem</h4>

                <!-- Edycja magazynu -->
                <div class="col-6  mx-auto">
                    <!-- Przycisk edycji magazynu -->
                    <button type="button" class="btn btn-warning mt-3 input-block-level col-12" data-bs-toggle="modal" data-bs-target="#editModal">
                        Edytuj magazyn
                    </button>

                    <!-- Modal edycji magazynu -->
                    <div class="modal fade edit-modal" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Edytuj magazyn</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <form action="" method="post" class="crispy-form-margin">
                                  {% csrf_token %}
                                  <p class="mt-1">{{ edit_form.name|as_crispy_field}}</p>
                                  <p class="mt-1">{{ edit_form.symbol|as_crispy_field}}</p>
                                  <p class="mt-1">{{ edit_form.city|as_crispy_field}}</p>
                                  <p class="mt-1">{{ edit_form.address|as_crispy_field}}</p>
                                  <p class="mt-1">{{ edit_form.description|as_crispy_field}}</p>
                                  <div class="my-auto mx-auto row">
                                      <input type="submit" value="Edytuj" class="btn btn-success mx-auto col-5">
                                      <button type="button" class="btn btn-danger mx-auto col-5 offset-2" data-bs-dismiss="modal">Anuluj</button>
                                  </div>

                              </form>
                          </div>

                        </div>
                      </div>
                    </div>
                </div>

                <!-- Usunięcie magazynu -->
                <div class="col-6 mx-auto">
                    <!-- Przycisk usunięcia magazynu -->
                    <button type="button" class="btn btn-danger mt-3 col-12" data-bs-toggle="modal" data-bs-target="#deleteModal">
                      Usuń magazyn
                    </button>

                    <!-- Potwierdzenie usunięcia magazynu -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Potwierdź usunięcie</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            Czy na pewno chcesz usunąć magazyn? Ta operacja jest nieodwracalna.
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                              <form action="{% url "warehouse:warehouse_delete" warehouse.id %}" method="post">
                                <button type="submit" class="btn btn-danger">Usuń magazyn</button>
                                {% csrf_token %}
                            </form>

                          </div>
                        </div>
                      </div>
                    </div>
                </div> 
                <!-- Zakończenie usuwania magazynu -->
            </div>
        </div>

        <!-- Zarządzanie regałami -->
        <div class="col-lg-7 offset-lg-1 mt-4 mt-lg-0">
            <h4>Regały</h4>

            <!-- Wyświetlanie regałów -->
            <div id="accordion">
                {% for shelf in shelves %}
                    <div class="card">
                        <div class="card-header">
                          <a class="btn" data-bs-toggle="collapse" href="#collapse-{{ shelf.name }}">
                            {{ shelf.name }}
                          </a>
                        </div>
                        <div id="collapse-{{ shelf.name }}" class="collapse hide" data-bs-parent="#accordion">
                          <div class="card-body">
                              <!-- Informacje o regale -->
                              <div class="row">
                                  <p class="col-6">Kolumny: {{ shelf.columns }}</p>
                                  <p class="col-6">Poziomy: {{ shelf.levels }}</p>
                              </div>
                              <!-- Przyciski -->
                              <div class="row">
                                  <div class="col-6">
                                      <a href="{% url "warehouse:shelf_detail" shelf.id %}">
                                          <button class="btn btn-success col-12">Szczegóły</button>
                                      </a>
                                  </div>
                                  <div class="col-6">
                                      <form action="{% url "warehouse:shelf_delete" shelf.id %}" method="post">
                                        <input type="submit" value="Usuń regał" onclick="return confirm('Czy na pewno chcesz usunąć regał?')" class="btn btn-danger col-12">
                                        {% csrf_token %}
                                      </form>
                                  </div>
                              </div>
                          </div>
                        </div>
                      </div>
                {% endfor %}
            </div>


            <!-- Dodawanie regałów -->
            <form action="." method="post" class="form-group border border-secondary rounded p-4 mx-auto my-3">
                 <p>Dodaj regał</p>
                {{ form|crispy }}
                <input type="submit" value="Dodaj" class="btn btn-success mx-auto mt-3">
                {% csrf_token %}
            </form>
        </div>


    </div>


{% endblock %}