{% extends "warehouse/base.html" %}

{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}Magazyny{% endblock %}

{% block content %}
    <h1 class="warehouse_list_header">Lista magazynów</h1>

    <p class="warehouse_list_description">Poniżej znajduje się lista dostępnych magazynów. Aby zobaczyć szczegóły danego magazynu, kliknij w jego nazwę.</p>

    <table class="table table-bordered table-hover warehouse_list_table">
        <thead class="warehouse_table_header">
            <tr>
                <th scope="col">Nazwa</th>
                <th scope="col">Symbol</th>
                <th scope="col">Miasto</th>
            </tr>
        </thead>
        <tbody>
            {% for warehouse in warehouses %}
                <tr>
                    <td><a href="{{ warehouse.get_absolute_url }}">{{ warehouse.name }}</a></td>
                    <td>{{ warehouse.symbol }}</td>
                    <td>{{ warehouse.city }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="col-lg-6 add_warehouse">
        <h3 class="mt-5">Dodaj magazyn</h3>
        <form action="." method="post" class="form-group border border-secondary rounded p-4 mx-auto my-3">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success mt-3">Dodaj magazyn</button>
        </form>
    </div>

{% endblock %}